.todoContainer{
  margin: 50px auto;
  border: 1px solid green;
  width: fit-content;
  padding: 20px;
  height: fit-content;
}
.todoContainer ul{
  list-style-type: none;
  padding: 0;
}
.todoItem{
  border: 1px solid grey;
  padding: 10px;
  margin: 10px;
}
.btnCont {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.editBtn{
  background-color: lightgreen;
}

.delBtn{
  background-color: pink;
}