.todoContainer{
  margin: 50px auto;
  width: fit-content;
  padding: 20px;
  height: fit-content;
}
.todoContainer ul{
  list-style-type: none;
  padding: 0;
}
.todoItem{
  padding: 10px 30px;
  margin: 30px;
  border-radius:10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width:400px;
  
}
.btnCont {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.editBtn{
  background-color: lightgreen;
  border-radius:10px;
  padding: 5px 10px;
  border: none;
}

.delBtn{
  background-color: pink;
   border-radius:10px;
  padding: 5px 10px;
  border: none;
}