.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    padding: 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    align-items: center;
}
.form button{
    border-radius:10px;
    padding: 10px;
    background-color: lightgreen;
    border: none;
    cursor: pointer;
    width: 100%;
}

.form input{
    height: 30px;
}
.form select{
    height: 30px;
}
.inputContainer{
    display:flex;
    align-items: center;
    gap:11px;
}