.formContainer{
    position:absolute ;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(19, 18, 18, 0.651);
}

.editForm{
    padding: 30px 10px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: white;
    border-radius: 10px;
    
}

.editForm button{
    padding: 10px 5px;
    background-color: lightgreen;
    border: none;
    width: 100%;
    border-radius: 10px;
}

.editHead{
    position: relative;
    width: 100%;
    text-align: center;
    
}
.closeBtn{
   position: absolute;
   right: 10px;
   top: 0;
   cursor: pointer;
   background-color: pink;
   padding: 10px;
   border-radius: 10px;
}

